<div class="panel panel-primary emphasize-panel">
  <!-- <div class="panel-heading">
    <h3 class="panel-title center">
      <%= fa_icon "leaf", text: "List actions" %>
    </h3>
  </div> -->
  <div class="list-group center">
    <% if is_private %>
      <%= link_to "Edit", edit_list_path(list), class:"list-group-item" %>
    <% end %>
    
    <%= link_to "Download", "#", class:"list-group-item" %>
  </div>
</div>

<% if is_private %>
  <div class="panel panel-danger emphasize-panel">
    <div class="list-group center">
  <!--https://stackoverflow.com/questions/711418/how-to-prevent-browser-page-caching-in-rails -->
      <%= link_to "Delete", list, class:"list-group-item list-group-item-danger", method: :delete, data: { confirm: "Are you sure to remove this list?" } %>
    </div>    
  </div>
<% end %>
