<div class="panel panel-primary">
  <!-- <div class="panel-heading">
    <h3 class="panel-title center">
      <%= fa_icon "leaf", text: "List actions" %>
    </h3>
  </div> -->
  <div class="list-group center">
    <%= link_to "Get tree", "#", class:"list-group-item list-group-item-info", id: "get-tree-btn" %>
    <%= link_to "Download list", "#", class:"list-group-item" %>
    <%= link_to "Taxon matching", "#", class:"list-group-item" %>
  </div>    
</div>
