<div class="alert alert-danger" role="alert">
  Bad news! We can not retrieve your requested list from the server. Please be patient while someone is scratching his head. Here is a coffee for you :)
</div>

<div class='center'><img src='<%= image_path("coffee.gif") %>'></div>
