<div class="panel-content-wrapper">

  <table class="table table-hover">
    <!-- <caption>First Way</caption> -->
    <tr>
      <th>Description</th>
      <td><%= list.description %></td>
    </tr>
    <tr>
      <th>Resource</th>
      <td><%= list.resource_type %></td>
    </tr>
    <tr>
      <th>Created at</th>
      <td><%= list.created_at %></td>
    </tr>
    <tr>
      <th>Tree(s) associated with this list</th>
      <td>
        <ul>
          <% list.trees.each do |t|  %>
            <li><%= link_to t.name, t %></li>
          <% end %>
        </ul>
      </td>
    </tr>
    
  </table>
</div>