
<div>
  <table class="table table-hover">
    <!-- <caption>First Way</caption> -->
    <tr>
        <th>Description</th>
        <td><%= list.description %></td>
    </tr>
    <tr>
        <th>Resource</th>
        <td><%= list.resource_type %></td>
    </tr>
    <tr>
        <th>Created at</th>
        <td><%= list.created_at %></td>
    </tr>
  </table>
</div>