<% provide :title, "Home" %>

<div class="row content-wrapper">
  <div class="col-xs-3">
    <%= render partial: "list_name" %>
  </div>
  <div class="col-xs-7">
    <%= render partial: "welcome" %>
  </div>
  <div class="col-xs-2">
    <%= render partial: "new_list" %>
  </div>
</div>