<div class="center">MAKE A NEW LIST</div>
<div class="center">Choose from source</div>

<div class="row">
  <%= link_to "Upload my list", raw_extractions_new_from_pre_built_examples_path, class: "btn btn-default btn-block scenario-selection" %>

  <%= link_to "Extract from doc", raw_extractions_new_from_file_and_web_path, class: "btn btn-default btn-block scenario-selection" %>

  <%= link_to "Extract from web", raw_extractions_new_from_file_and_web_path, class: "btn btn-default btn-block scenario-selection" %>

  <%= link_to "Choose taxon", raw_extractions_new_from_taxon_path, class: "btn btn-default btn-block scenario-selection" %>  
</div>