<% provide(:title, "About") %>
<h1>About</h1>
<p>
 The Phylotastic project is a NSF funded project to make the tree of life convenient and accessible to a large public.

<p>
There have been many efforts to construct the Tree of Life, but these data are scattered and many times not easily traceable.  We see our project (webservices) as the unique location for knowledge on the Tree of Life (ToL), and the place where the public can go to retrieve based on all our knowledge on the ToL

<p>
The lead PI of the project is Dr. Arlin Stoltzfus (arlin@umd.edu) and 2 Co-PIs, Dr. Enrico Pontelli (epontell@sc.nmsu.edu) and Dr. Brian O'Meara (bomeara@utk.edu)

