<% provide(:title, "About") %>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1>About</h1>
    <p>
       The Phylotastic project is a NSF funded project to make the tree of life convenient and accessible to a large public. The NSF grant number is 1458572 "Collaborative Research: ABI Development: An open infrastructure to disseminate phylogenetic knowledge"
    </p>
    <p>
      There have been many efforts to construct the Tree of Life, but these data are scattered and many times not easily traceable.  We see our project (webservices) as the unique location for knowledge on the Tree of Life (ToL), and the place where the public can go to retrieve based on all our knowledge on the ToL
    </p>
    <p>
      The lead PI of the project is Dr. Arlin Stoltzfus (<a href="mailto:arlin@umd.edu">arlin@umd.edu</a>) and 2 Co-PIs, Dr. Enrico Pontelli (<a href="epontell@sc.nmsu.edu">epontell@sc.nmsu.edu</a>) and Dr. Brian O'Meara (<a href="bomeara@utk.edu">bomeara@utk.edu</a>)
    </p>
  </div>
</div>

