<% provide(:title, "Getting Started") %>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    
    <h1>Getting started</h1>

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseDir" aria-expanded="true" aria-controls="collapseDir">
              Directions
            </a>
          </h4>
        </div>
        <div id="collapseDir" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            There are several different ways in which you can use our webportal in order to retrieve a phylogeny.

            For quick examples of phylogenies, just search our *Public Trees* examples under the *Tree Viewer* tab.

            Otherwise, you can upload a list, document, weblink, or choose from a taxon.  Begin with the *Home* tab.
          </div>
        </div>
      </div>
  
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseUpl" aria-expanded="false" aria-controls="collapseUpl">
              Upload my list
            </a>
          </h4>
        </div>
        <div id="collapseUpl" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingUpl">
          <div class="panel-body">
            You can upload your list of taxa as either a text (.txt) file or a Darwin Core Archive (DCA) file.

            __Text file__
            Your file must be formatted with only one name per line.  Either drag and drop or upload the file into the portal.  The portal requires that you give this file a name and allows you to add a description.

            __DCA Archive__
            Here you input two .csv files together as one .zip file. One of the files must contain the species list using the DCA format.  The other file contains the metadata of the list you are uploading.  See example provided.  When uploading your DCA file, you can decide to make the file public.


            After pressing *Get list*, a list of species is returned.  You can then select or deselect any taxa from this list before retrieving a phylogeny by pressing *Get tree*. 

            For information purposes, a taxon matching report is also provided.  If wanted, you can also download you list or edit your list title.
          </div>
        </div>
      </div>
  
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseDoc" aria-expanded="false" aria-controls="collapseDoc">
              Extract from doc
            </a>
          </h4>
        </div>
        <div id="collapseDoc" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingDoc">
          <div class="panel-body">
            You can upload different types of files (.pdf, .txt, .doc, .docx, .xls, .xlsx) and our system will scrape the scientific names from your file, providing a list of species. 

            Upload a file and provide a title for this file.  You can also add a description.  

            After pressing *Get list*, you will receive a list of species found in your document. You can then select or deselect any taxa from this list before retrieving a phylogeny by pressing *Get tree* 

            For information purposes, a taxon matching report is also provided.  If wanted, you can also download your list or edit your list title.
          </div>
        </div>
      </div>
  
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseWeb" aria-expanded="false" aria-controls="collapseWeb">
              Extract from web
            </a>
          </h4>
        </div>
        <div id="collapseWeb" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingWeb">
          <div class="panel-body">
            Copy a URL into the space provided and add a title. After pressing *Get list* our system will scrape the scientific names from your link, providing a list of species.  These are the species that were found from your input link

            You will be returned a list of species, which were scraped from the URL. You can then select or deselect any taxa from this list before you retrieve a phylogeny by pressing *Get tree*.

            For information purposes, a taxon matching report is also provided.  If wanted, you can also download your list or edit your list title.
          </div>
        </div>
      </div>
  
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTax" aria-expanded="false" aria-controls="collapseTax">
              Choose taxon
            </a>
          </h4>
        </div>
        <div id="collapseTax" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTax">
          <div class="panel-body">
            Enter a taxon under *Taxon name* and add a title. For example, you can enter an Order, Class, Family, or Genus as the input taxon name.

            Next, you are able to restrict the search of your taxon by choosing one or more of the *Subset by* criteria: Location, Has genome sequence in NCBI, or Random set of 10, 20 or 30. Note: this is not required, but recommended for very large groups.

            _Location_ allows you to restrict to a particular country.  

            _Has genome sequence in NCBI_ will return only those taxa with genomes found in NCBI

            _Random set of 10, 20, or 30_ will return a random list, instead of all species found from the input taxon.


            A list of species will be returned and you can then select or deselect any taxa from this list before you retrieve a phylogeny by pressing *Get tree*.  

            For information purposes, a taxon matching report is also provided.  If wanted, you can also download your list or edit your list title.
          </div>
        </div>
      </div>
  
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTvi" aria-expanded="false" aria-controls="collapseTvi">
              Tree viewer
            </a>
          </h4>
        </div>
        <div id="collapseTvi" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTvi">
          <div class="panel-body">
            After selecting *Get tree* you are prompted to provide a name for your tree.

            From here, you have the option to download a newick file of your tree or save the tree view as a -svg file.  

            There are also options to add the tree to your tree gallery: *Add to My Gallery* and make your tree visible to the public by *Publish to Community*.
        
          </div>
        </div>
      </div>
  
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseInf" aria-expanded="false" aria-controls="collapseInf">
              Extra information
            </a>
          </h4>
        </div>
        <div id="collapseInf" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingInf">
          <div class="panel-body">
            More information can be found under the About or FAQ tabs.  

            Any questions or comments can be posted on Github or through Gitter.  If you do have an github account, you can also e-mail: Dr. Arlin Stoltzfus (<a href="mailto:arlin@umd.edu">arlin@umd.edu</a>) or <a href="phylotastic.tol@gmail.com">phylotastic.tol@gmail.com</a>.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>