<% provide(:title, "Home") %>
<h1>To get a tree, start by choosing a set of species by one  of these 3 methods</h1>

<div class="row">
  <div class="col-md-4">
    <button type="button" class="btn btn-default btn-lg btn-block">Pre-built examples</button>
    <p>Choose from pre-composed lists, e.g., crop species, pets, mammalian orders</p>
  </div>
  
  <div class="col-md-4">
    <button type="button" class="btn btn-default btn-lg btn-block">Choose from a Specified Taxon</button>
    <p>Name a taxon (e.g., Primates), then choose all or some members</p>
  </div>
  
  <div class="col-md-4">
    <button type="button" class="btn btn-default btn-lg btn-block">Extract from file or online source</button>
    <p>Get names from a web site or a file</p>
  </div>
</div>