<% provide(:title, "Feedback") %>
<h1>Feedback</h1>
<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfQYgE9TAhVF5Mw8BiojUryCoWMbybrv4G1Jj_MgiCO5jn5cg/viewform?embedded=true" width="100%" height="1500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>