$('#log').append("<div>" + currentTime() + " Extracted tree successfully</div>");

$("#op1t tspan").html("phylotastic_GetPhylogeneticTree_OT_GET");

$("#op1").css("fill", '#58c4a3');
$('#scale-tree').click();

$('#log').append("<div>" + currentTime() + " Scale tree</div>");