$('#log').append("<div>" + currentTime() + " Success</div>");

$("#op0").css("fill", '#58c4a3');
$('#extract-tree').click();

$('#log').append("<div>" + currentTime() + " Extract phylogenetic tree</div>");