<div class="table-wrapper">
  <div class="table-scroll">  
    <div class="list-group">
      <% trees.each do |t| %>
        <% case t.status %>
        <% when "completed" %>
          <%= link_to t.name, tree_path(t.id), remote: true, class:"list-group-item", id: "nav-tree-#{t.id}" %>
        <% when "constructing" %>
          <%= link_to((t.name.to_s + " - constructing..."), tree_path(t.id), remote: true, class:"list-group-item list-group-item-info", id: "nav-tree-#{t.id}") %>
        <% when "unsuccessfully-constructed" %>
          <%= link_to((t.name.to_s + " - failed"), tree_path(t.id), remote: true, class:"list-group-item list-group-item-danger", id: "nav-tree-#{t.id}") %>  
        <% when nil %>
          <!--Solr is denied to create tree but sidekiq still queued the tree -->
        <% end %>
      <% end %>
    </div>
  </div>
</div>