<div class="table-wrapper">
  <div class="table-scroll">  
    <div class="list-group">
      <% trees.each do |t| %>
        <% case t.status %>
        <% when "completed" %>
          <%= link_to t.id, tree_path(t.id), remote: true, class:"list-group-item" %>
        <% when "constructing" %>
          <%= link_to((t.id.to_s + " - constructing..."), tree_path(t.id), remote: true, class:"list-group-item list-group-item-info") %>
        <% when "unsuccessfully-constructed" %>
          <%= link_to((t.id.to_s + " - failed"), tree_path(t.id), remote: true, class:"list-group-item list-group-item-danger") %>  
        <% end %>
      <% end %>
    </div>
  </div>
</div>