<table class="table table-striped table-bordered job-table">
  <thead> 
    <tr> 
      <th>Lists</th> 
      <th>Share</th>
    </tr> 
  </thead>
  <tbody>
    <% @prebuilt_jobs.each do |p| %>
      <tr>
        <td>
          <%= p["list_title"] %>
        </td>
        <td>
          <%= begin UploadedList.find_by_lid(p["list_id"]).public rescue 0 end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
