<div class="slider-for-each row">
  <div class="col-md-3">
    <%= text %>
  </div>
  <div class="col-md-8 col-md-offset-1">
    <div style="background: url(<%= '/assets/' + photo %>) no-repeat center; width: 600px; height: 450px; border-radius: 5%; background-size: contain;"></div>
  </div>
</div>