<% provide(:title, "Tree Viewer") %>

<div class="row">
  <div class="col-md-3">
    <div class="list-selection">
      <h4>My Trees</h4>
      <%= render partial: "nav_trees", locals: { trees: @my_trees }%>
    </div>
    <hr>
    <div class="list-selection">
      <h4>Public Trees</h4>
      <%= render partial: "nav_trees", locals: { trees: @public_trees } %>
    </div>
  </div>
  
  <div class="col-md-9">
    <div class="row" id="tree-content">
    </div>
  </div>
</div>

<script>
$(document).ready(function() {
  $(".list-group-item").click(function() {
    $(".list-group-item").removeClass("active");
    $(this).addClass("active");
    $('#ra-content').html("<div class='center'><img src='<%= asset_path("loading-icon.gif") %>'></div>");
  })
})
</script>



