<% provide(:title, "Gallery") %>

<div id="output"></div>

<table class="table table-striped table-hover">
  <thead> 
    <tr> 
      <th>Id</th> 
      <th>Status</th> 
      <th>Last Name</th> 
      <th>Username</th> 
    </tr> 
  </thead>
  <tbody> 
    <%= @trees.each do |t| %>
      <tr> 
        <th scope="row"><%= t.id %></th> 
        <td><%= t.status %></td> 
        <td>Otto</td> 
        <td>@mdo</td> 
      </tr> 
    <% end %>
  </tbody>
</table>

<script type="text/javascript">
socket = new WebSocket("ws://" + window.location.host + "/track")

socket.onmessage = function(event) {
  if(event.data.length);
    $("#output").append(event.data);
}

$("body").on("submit", "form.chat", function(event) {
  event.preventDefault();
  $input = $(this).find("input");
  socket.send($input.val());
  $input.val(null);
})

</script>