<% names = JSON.parse(ra.extracted_names)["scientificNames"] %>
<% unresolved = [] %>

<% names.each do |n| %>
  <% flag = false %>
  <% resolved_names.each do |r| %>
    <% if r["matched_name"] == n %>
      <% flag = true %>
      <% break %>
    <% end %>
  <% end %>
  <% unresolved << n if !flag %>
<% end %>

<% unless unresolved.empty? %>
  <hr>
  <h4>Unmatched names</h4>
  <div class="">
    <div style="font-size: 80%; font-style: italic;"> 
      Edit name as desired, then click the 'Search' button to look for matches
    </div>
    <div>
      <% unresolved.each_with_index do |s, i| %>
        <div class="row form-group">
          <%= form_tag({controller: 'onpl_files', action: 'update_a_species', id: ra.contributable.id}, method: "post", remote: true, class: "fix-names") do %>
            <div class="col-sm-6"><%= text_field_tag 'species[' + i.to_s + '][scientific_name]', s, class: "form-control" %></div>
            <%= hidden_field_tag 'species[' + i.to_s + '][old]', s %>
            <div class="col-sm-2 center">
              <%= submit_tag "Search", class: "btn btn-default"%>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>