<% if !my_lists.empty? %>
  <div class="fix-heading">My lists</div>
<% end %>

<div class="table-wrapper">
  <div class="table-scroll">  
    <div class="list-group" id="my-lists">
      <% my_lists.each do |l| %>
        <%= link_to truncate(l.name), raw_extraction_path(l.id), remote: true, class:"list-group-item", id: "ra-#{l.id}" %>
      <% end %>
    </div>
  </div>
</div>