<% provide(:title, "Gallery") %>

<div style="">
  <% if @trees.empty? %>
    <p class="bg-info">You have no trees in gallery. Maybe you should take a look at some examples in here <%= link_to "in here", explore_trees_path %> first.</p>
  <% else %>
    <div id="carousel">
      <% @trees.each do |t| %>
        <%= image_tag t.image, class: "cloud9-item" %>
      <% end %>
    </div>
    <div id="buttons" class="center">
      <button class="left btn btn-default btn-lg">
        ←
      </button>
      <button class="right btn btn-default btn-lg">
        →
      </button>
    </div>
  <% end %>
</div>
    

<script type="text/javascript">
$(document).ready(function(){
  $("#carousel").Cloud9Carousel( {
    buttonLeft: $("#buttons > .left"),
    buttonRight: $("#buttons > .right"),
    autoPlay: 0,
    bringToFront: true
  });
});
</script>