<div class="center" style="margin-top: 40px;">
  <p>Process failed because <%= @uploaded_list.reason %></p>


  <%= link_to "Delete", @uploaded_list, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>

  
</div>
<script type="text/javascript">
$(document).ready(drag_and_drop());

</script>