// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

.scenario-selection {
  margin-top: 5px;
}

.center {
  text-align: center;
}

.footer {
  list-style: none;
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
  li {
    display: inline-block;
    padding: 10px;
  }
}

body {
  font-family: "Oxygen", sans-serif;
  font-size: 15px;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
    list-style: none;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.glyphicon-refresh-animate {
  -animation: spin .7s infinite linear;
  -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
  from { -webkit-transform: rotate(0deg);}
  to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
  from { transform: scale(1) rotate(0deg);}
  to { transform: scale(1) rotate(360deg);}
}

.bg-info {
  padding: 15px;
  border-radius: 3px;
}

.tree-info > .text-primary {
  margin-right: 20px;
}

.custom-pagination {
  text-align: center;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
.table-wrapper table thead th .text {
  position:absolute;   
  top:-20px;
  z-index:2;
  height:20px;
  width:35%;
  border:1px solid red;
}

.navbar-nav {
  li.active {    
    border-bottom: 5px grey solid;
  }
}

.action-nav {
  margin-bottom: 60px;
}

.metadata-wrapper {
  margin-top: 20px;
  margin-left: 20px;
}

#chosen_file {
  margin-bottom: 20px;  
}

#drop-zone {
  /*Sort of important*/
//    width: 300px;
  /*Sort of important*/
  height: 200px;
//    position:absolute;
//    left:50%;
//    top:100px;
//    margin-left:-150px;
  border: 2px dashed rgba(0,0,0,.3);
  border-radius: 20px;
  font-family: Arial;
  text-align: center;
  position: relative;
  line-height: 180px;
  font-size: 20px;
  color: rgba(0,0,0,.3);

  input {
    /*Important*/
    position: absolute;
    /*Important*/
    cursor: pointer;
    left: 0px;
    top: 0px;
    /*Important This is only comment out for demonstration purpeses. */
    opacity:0;
  }
}

/*Important*/
.mouse-over {
  border: 12px solid rgba(0,0,0,.5) !important;
  color: rgba(0,0,0,.5) !important;
}

/*If you dont want the button*/
#clickHere {
  position: absolute;
  cursor: pointer;
  left: 50%;
  top: 50%;
  margin-left: -50px;
  margin-top: 20px;
  line-height: 26px;
  color: white;
  font-size: 12px;
  width: 100px;
  height: 26px;
  border-radius: 4px;
  background-color: #3b85c3;
}

#clickHere:hover {
  background-color: #4499DD;
}

.sign-in-label {
  font-size: 25px;
  padding-left: 30px;
  padding-right: 20px;
}

#myProgress {
    position: relative;
    width: 100%;
    height: 30px;
    background-color: grey;
}
#myBar {
    position: absolute;
    width: 1%;
    height: 100%;
//    background-color: green;
}

/* If you want the label inside the progress bar */
#label {
    text-align: center; /* If you want to center it */
    line-height: 30px; /* Set the line-height to the same as the height of the progress bar container, to center it vertically */
    color: white;
}

.navbar-fixed {
  top: 0; 
  position: fixed;
  width: 20%;
}

.fix-heading {
  font-size: 140%;
  margin-bottom: 10px;
}

.panel-heading {
  background-color: #ccc !important;
}

.tree-name-alert {
  font-style: italic;
  color: red;
}

.red {
  color: red;
}

input[type=checkbox]
{
  transform: scale(2);
}

.ui-tooltip {
    position: relative;
    display: inline-block;
    background: grey;
    color: white;
    &::after {
      content: "";
      position: absolute;
      top: -20px;
      left: 50%;
      margin-left: -5px;
      border-width: 10px;
      border-style: solid;
      border-color: transparent transparent grey transparent;
   }
}

