// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.list-category {
  &:first-child {
    margin-top: 10px;
  }
  .fa {
    min-width: 30px;
  }
  font-family: Tahoma, Geneva, sans-serif;
  text-align: left;
  padding-left: 10px;
  margin-bottom: 5px;
  
}

.table-wrapper {
  .table-scroll {
    max-height: 350px;
    overflow-y: scroll;
  } 
  padding: 0 5px;
  max-height: 350px;
  ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
  }
}

#new-list-wrapper {
  padding: 0 4px;
  .panel-heading {
    font-family: Tahoma, Geneva, sans-serif;
  }
}

.panel-primary {
  .list-group-item {
    color: #337ab7;
    border-color: #337ab7 !important;
    &:hover {
      color: #fff;
      background: #337ab7;
    }
  }
  #get-tree-btn {
    font-size: 150%;
  }
}

.list-title {
  font-size: 150%;
  font-weight: bold;
  margin-bottom: 20px;
  font-family: Tahoma, Geneva, sans-serif;
}