// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.list-category {
  &:first-child {
    margin-top: 10px;
  }
  .fa {
    min-width: 30px;
  }
  
  text-align: left;
  padding-left: 10px;
  margin-bottom: 5px;
  
}

.table-wrapper {
  padding: 0 5px;
}