// Place all the styles related to the RawExtractions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#ra-content {
  .center {
    img {
      width: 100%;
    }
  }
}

#nav-list {
  margin-bottom: 50px;

}

#download-selected-species {
  white-space: pre-wrap; /* css-3 */    
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */    
  white-space: -o-pre-wrap; /* Opera 7 */    
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.list-selection {
  .table-wrapper {
    max-height: 350px;
    .table-scroll {
      max-height: 350px;
    }
  } 
}

.well {
  padding: 5px;
}

#ra-holder {
  padding-left: 0px;
  padding-right: 0px;
}