// Place all the styles related to the taxonomies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.subsets {  
  margin-top: 40px;
  margin-bottom: 50px;
  .subset-options:not(:first-child) {
    margin-top: 20px;
  }
}