// Place all the styles related to the Trees controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.left-indent {
  margin-left: 30px !important;
}

#name-matching-report {
  margin: 20px;
  text-align: center;
}

.species-row, #species-toggle-all-cb {
  cursor: pointer;
}

.species-cb-column {
  text-align: center;
}

.species-heading-row {
  vertical-align: middle !important;
}