// Place all the styles related to the Trees controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.left-indent {
  margin-left: 30px !important;
}

#name-matching-report {
  margin: 20px;
  text-align: center;
}

.species-row, #species-toggle-all-cb {
  cursor: pointer;
}

.species-cb-column {
  text-align: center;
}

.species-heading-row {
  vertical-align: middle !important;
}

.node circle {
  cursor: pointer;
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font-size: 11px;
}

path.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

.slider-nav-tree-info {
  text-align: center;
  margin: 5px;
}

#watch-form, #publicise-tree {
  margin: 5px 0px;
}

#masonry-view {
  margin: 50px auto 0px auto;
  .grid-item {
    width: 310px;
    height: 310px;
  }
}

.grid-item {
  transition: all 1s ease 0s;
  -moz-transition: all 1s ease 0s;
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s; 
  .tree-description {
    margin: 15px 5px 5px 5px;
  }
  &:hover {
    transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    img {
      border: 1px grey solid;
      border-radius: 5px;      
    }
    z-index: 1;
    background: white;
    padding: 20px 0;
  }
}

.tree-info {
  margin: 0 10px;
}

.job-title {
  margin-left: 20px;
}

.job-table {
  margin-left: 50px;
}

#ra-content {
  #graph {
    overflow: scroll;
  }
}

#tree-actions {
  #save-to-disk {
    margin-top: 7px;
  }  
}

#carousel {
  height: 600px;
  .cloud9-item {
    height: 500px;
    img {
      height: 350px;
    }
  }
}

#carousel .cloud9-item, #buttons button {
  cursor: pointer;
}

.btn-wrapper {
  float: right;
  display: inline-block;
  margin-left: 10px;
}

.tree-menu {
  width: 300px;
  max-height: 500px;
  min-height: 200px;
  
  .table-wrapper {
    position:relative;
  }
  
  .table-wrapper table {
    width:100%;
  }
}

.table-scroll {
  max-height: 500px;
  overflow-y: scroll;  
  .nav {
    li{
      a {
        color: #333;
      }        
    }
  }
}

.tree-directory {
  display: inline-block;
}

.tree-directory, #seperator {
  font-size: 30px;
}

.tree-settings {
  width: 500px;
  margin: 0 auto;
}

#tree-content, #ra-content {
  margin-top: 15px;
  .nav, .nav-tabs {
    li {
      .fa {
        padding-right: 5px;
      }
      a {
        padding-right: 25px;
        padding-left: 25px;
      }
    }
    .active {
      a {
        border-top: 4px #d26911 solid;;        
      }
    }
  }
}

.tree-options-wrapper {
  margin-top: 10px;
  .cb-tree-viewer {
    margin-right: 5px;
  }
  .tree-view-options {
    display: inline-block;
    margin-right: 20px;
    .minicolors, .minicolors-theme-bootstrap {
      display: inline-block;
      width: 30px;
    }
    select {
      font-size: 20px;
    }
  }
}