// Place all the styles related to the Workflow controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.service-navigator, .io-navigator {
  opacity: 0.4;
  &:hover {
    opacity: 0.95;
    cursor: pointer;
  }
}
