<div class="col-md-9" id="ra-content">
  <div class="center" style="margin-top: 40px;">
    <p>Can not extract names from this document.</p>

    <%= link_to('Delete list', @f, class: 'btn btn-danger', method: :delete, data: { confirm: "Are you sure to delete list #{@f.name}?" } ) %>
  </div>
</div>

<div class="col-md-3">
  <%= render partial: "raw_extractions/creation_nav" %>  
</div>


