<!-- <% if notice %>
  <p class="alert alert-success center"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger center"><%= alert %></p>
<% end %> -->

<% flash.each do |key, value| %>
  <% if key == "notice" %>
    <div class="alert alert-success center">
  <% elsif key == "alert" %>
    <div class="alert alert-danger center">
  <% else %>
    <div class="alert alert-<%= key %> center">
  <% end %>
    <a href="#" data-dismiss="alert" class="close">×</a>
      <ul class="list-unstyled">
        <li>
          <%= value %>
        </li>
      </ul>
  </div>
<% end %>

<script type="text/javascript">
  $(".alert" ).fadeOut(7000);
</script>